<div id="<%= dom_id sub_group %>">
  <p>
    <strong>Name:</strong>
    <%= sub_group.name %>
  </p>

  <p>
    <strong>Basic group name:</strong>
    <%= sub_group.basic_group_name %>
  </p>

</div>
