<p style="color: green"><%= notice %></p>

<h1>Sub groups</h1>

<div id="accounts_sub_groups">
  <% @accounts_sub_groups.each do |accounts_sub_group| %>
    <%= render accounts_sub_group %>
    <p>
      <%= link_to "Show this sub group", accounts_sub_group %>
    </p>
  <% end %>
</div>

<%= link_to "New sub group", new_accounts_sub_group_path %>
