<h1>Editing account master</h1>

<%= render "form", accounts_account_master: @accounts_account_master %>

<br>

<div>
  <%= link_to "Show this account master", @accounts_account_master %> |
  <%= link_to "Back to account masters", accounts_account_masters_path %>
</div>
