<h1>Editing sub group</h1>

<%= render "form", sub_group: @sub_group %>

<br>

<div>
  <%= link_to "Show this sub group", @sub_group %> |
  <%= link_to "Back to sub groups", sub_groups_path %>
</div>
