<h1>Editing group</h1>

<%= render "form", accounts_group: @accounts_group %>

<br>

<div>
  <%= link_to "Show this group", @accounts_group %> |
  <%= link_to "Back to groups", accounts_groups_path %>
</div>
