<p style="color: green"><%= notice %></p>

<h1>Basic groups</h1>

<div id="basic_groups">
  <% @basic_groups.each do |basic_group| %>
    <%= render basic_group %>
    <p>
      <%= link_to "Show this basic group", basic_group %>
    </p>
  <% end %>
</div>

<%= link_to "New basic group", new_basic_group_path %>
